*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #161616;
    color: #ddd6d6;

}

header{
    height: 70px;
    background: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    padding: 0 8%;
    justify-content: space-between;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #f0e9e9;

}

nav{
    display: flex;
    gap: 35px;

}

nav a{
    text-decoration: none;
    color: #f7f4f4;
    font-weight: 500;

    transition: 0.3s;

}

nav a:hover{
    color: #f77409;
    transform: translateY(-2px);

}

.login{
    background: #f7f4f1;
    color: rgb(3, 3, 3);
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;

    transition: 0.3s;
}

.login:hover{
    background: #e66d08;
    transform: scale(1.05);

}
.menu{
    width: 55%;
    margin: 50px auto;

}
.menu h1{
    font-size: 32px;
    margin-bottom: 8px;

}

.subtitle{
    color: #f7f4f4;
    margin-bottom: 30px;
}

.cards{
    background: rgb(10, 10, 10);
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);

    transition: 0.4s ease;

    cursor: pointer;
}


.card:hover{
    transform: translate(-10px);
    box-shadow: 0px 15px 30px rgba(253, 252, 252, 0.18);

}

.card img{
    width: 100%;
    height: 190px;
    object-fit: cover;

    transition: 0.5s ease;

}

.card:hover img{
    transform: scale(1.08);
}

.content{
    padding: 18px;

}

.content h2{
    font-size: 22px;
    margin-bottom: 8px;

}
.rating{
    color: #eeeaea;
    font-size: 14px;
    margin-bottom: 12px;
}

.description{
    color: #e9e5e5;
    font-size: 14px;
    line-height: 1.6;
    height: 42px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;

}

.price{
    font-size: 18px;
    font-weight: bold;
}

.add{
    border: 1px solid #0a0a0a;
    background: white;
    color: #050505;

    padding: 7px 20px;
    border-radius: 5px;

    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}

.add:hover{
    background: #fc8019;
    color: white;
    transform: scale(1.1);
}

@media (max-width: 1000px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    header{
        padding: 0 5%;
    }

    nav{
        display: none;
    }

    .cards{
        grid-template-columns: 1fr;
    }
    .menu{
        width: 90%;
    }
    }